/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/projects/Projects.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Projects_grid__he20x {
  display: grid;
  grid-gap: 12px;
  gap: 12px;
  grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .Projects_grid__he20x {
    grid-template-columns: repeat(3, 1fr);
  }
}
.Projects_card__3qKEd {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 14px;
  padding: 12px;
}

.Projects_row__Vyxgv {
  display: grid;
  grid-gap: 8px;
  gap: 8px;
}

.Projects_bar__3_dtQ {
  height: 8px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 999px;
  overflow: hidden;
}

.Projects_fill__721CT {
  height: 100%;
  background: var(--secondary);
}

.Projects_form__SuiPJ {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.Projects_input___R8BL, .Projects_date__BDy9N {
  flex: 1 1;
  min-width: 220px;
  padding: 8px 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
  background: var(--card);
  color: var(--fg);
}

.Projects_smallBtn__feqkY {
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: var(--primary);
  color: #0F2430;
}

.Projects_del__kMNKF {
  margin-left: auto;
  opacity: 0.8;
  cursor: pointer;
}
